<div class="container search-table">
    <div class="search-box">
        <div class="row justify-content-start">
            <div class="col-8" style="margin-top: 5px;">
                <input type="text" id="descricao" class="form-control" 
                placeholder="Descrição" [(ngModel)] = "descricao" name = "descricao">
            </div>
            <div class="col-4" style="margin-top: 5px;">
                <input type="text" id="url2" class="form-control" 
                [(ngModel)] = "url2" name = "url2" placeholder="Url">
            </div>
            
            <div class="col-8" style="margin-top: 5px;"> 
                <input type="text" id="email" class="form-control" 
                [(ngModel)] = "email" name = "email" placeholder="Email">
            </div>
            <div class="col-4" style="margin-top: 5px;">
                <button class="btn btn-lg btn-success" (click)="onSearch()">Pesquisar</button>
            </div>
            
        </div>    
    </div>
   
    <table class=" table table-striped border border-light">
        <thead>
            <tr>
                <th>Descricao</th>
                <th>Sigla</th>
                <th>Email</th>
                <th>URL</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sistema of sistemas">
                <td>{{ sistema.descricao }}</td>
                <td>{{ sistema.sigla }}</td>
                <td>{{ sistema.emailAtendimento }}</td>
                <td>{{ sistema.url }}</td>
                <td>{{ sistema.status }}</td>
                <td>
                    <button (click) = "updateSistema(sistema.id)" class="btn btn-info">Editar</button>
                </td>

            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        
        <ul class="pagination">
            <li class="page-item {{inicial()}}"><a class="page-link" href="{{url+0}}">Inicio</a></li>
            <li class="page-item {{inicial()}}"><a (click) = "decrementador()" class="page-link" href="{{url+this.atual}}">Ant</a></li>
            <li *ngFor="let item of arrayOne(this.totalPages); let i = index;" class="page-item {{comparacao(i)}}">
                <a  class="page-link" href="{{url+i}}">{{i+1}}</a>
            </li>
            <li class="page-item {{final()}}"><a (click) = "incrementador()" class="page-link" href="{{url+this.atual}}">Prox</a></li>
            <li class="page-item {{final()}}"><a  class="page-link" href="{{url+this.ultima}}">Ultima</a></li>

        </ul>

    </nav>


