<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="sistemas/0" routerLinkActive="active" class="nav-link">Lista de Sistemas</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-sistema" routerLinkActive="active" class="nav-link">Adicionar Sistema</a>
    </li>
    <li class="nav-item">
      <a routerLink="search-sistema" routerLinkActive="active" class="nav-link">Buscar</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>
<div class="container ">
  <router-outlet></router-outlet>
</div>
